## Vérification et nettoyage des données

In [258]:
import pandas as pd
import numpy as np
import os 
import matplotlib.pyplot as plt
population="/Users/yathyarayamauchiferreira/Documents/OpenClassrooms/Projet 4/DAN-P4-FAO/population.csv"
dispo_ali="/Users/yathyarayamauchiferreira/Documents/OpenClassrooms/Projet 4/DAN-P4-FAO/dispo_alimentaire.csv"
aide_ali="/Users/yathyarayamauchiferreira/Documents/OpenClassrooms/Projet 4/DAN-P4-FAO/aide_alimentaire.csv"
sous_nutri="/Users/yathyarayamauchiferreira/Documents/OpenClassrooms/Projet 4/DAN-P4-FAO/sous_nutrition.csv"

### Traitement du Fichier AIDE ALIMENTAIRE

#### Importation et lecture du fichier CSV

In [96]:
df_aide_ali = pd.read_csv(aide_ali)
df_aide_ali.head()

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

#### Vérifier le nombre de lignes

In [97]:
df_aide_ali.shape

(1475, 4)

#### Vérification de type de colonne et des valeurs manquantes

In [98]:
df_aide_ali.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1475 entries, 0 to 1474
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pays bénéficiaire  1475 non-null   object
 1   Année              1475 non-null   int64
 2   Produit            1475 non-null   object
 3   Valeur             1475 non-null   int64
dtypes: int64(2), object(2)
memory usage: 46.2+ KB

on remarque qu'il n'a a pas des valeurs manquantes et les types des colonnes sont bons

#### Vérifier s'il y a des doublons (duplicate) - une ligne qui contient la même années, le même produit et le même pays

In [140]:
df_aide_ali.duplicated(subset=['Pays bénéficiaire','Année','Produit']).sum()

0

#### Pour avoir une idée sur le statistiques descriptives des variables quantitatives

In [141]:
df_aide_ali.describe()

             Année         Valeur
count  1475.000000    1475.000000
mean   2014.054237    7481.966780
std       0.946916   23339.531424
min    2013.000000       0.000000
25%    2013.000000     287.500000
50%    2014.000000    1178.000000
75%    2015.000000    4334.500000
max    2016.000000  265013.000000

#### Changement de nom de la colonne Pays bénéficiaire par Zone pour correspondre avec les autres tables:

In [256]:
df_aide_ali.rename(columns = {'Pays bénéficiaire': 'Zone'},inplace=True)

#### generer fichier aide_ali CSV traité (je n'ai rien changé sur ce fichier)

In [257]:
aide_ali_nettoye="/Users/yathyarayamauchiferreira/Documents/OpenClassrooms/Projet 4/DAN-P4-FAO/aide_alimentaire_nettoye.csv"
df_aide_ali.to_csv(aide_ali_nettoye, index=False)

### Traitement Fichier DISPONIBILITÉ ALIMENTAIRE

#### Lecture du fichier CSV

In [146]:
df_dispo_ali=pd.read_csv(dispo_ali)
df_dispo_ali.head(3)

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN

#### Verifier le nombre de lignes

In [148]:
df_dispo_ali.shape

(15605, 18)

#### Vérification de type de colonne et des valeurs manquantes

In [149]:
df_dispo_ali.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15605 entries, 0 to 15604
Data columns (total 18 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Zone                                                           15605 non-null  object
 1   Produit                                                        15605 non-null  object
 2   Origine                                                        15605 non-null  object
 3   Aliments pour animaux                                          2720 non-null   float64
 4   Autres Utilisations                                            5496 non-null   float64
 5   Disponibilité alimentaire (Kcal/personne/jour)                 14241 non-null  float64
 6   Disponibilité alimentaire en quantité (kg/personne/an)         14015 non-null  float64
 7   Disponibilité de matière grasse en quantité (g/personne/jour)  11794 non-null  float64
 8   Disponibilité de protéines en quantité (g/personne/jour)       11561 non-null  float64
 9   Disponibilité intérieure                                       15382 non-null  float64
 10  Exportations - Quantité                                        12226 non-null  float64
 11  Importations - Quantité                                        14852 non-null  float64
 12  Nourriture                                                     14015 non-null  float64
 13  Pertes                                                         4278 non-null   float64
 14  Production                                                     9180 non-null   float64
 15  Semences                                                       2091 non-null   float64
 16  Traitement                                                     2292 non-null   float64
 17  Variation de stock                                             6776 non-null   float64
dtypes: float64(15), object(3)
memory usage: 2.1+ MB

#### remplacer NaN par zéro sur la table Disponibilité Alimentaire

In [205]:
df_dispo_ali.fillna({'Aliments pour animaux':0, 'Autres Utilisations':0, 'Disponibilité alimentaire (Kcal/personne/jour)':0, 'Disponibilité alimentaire en quantité (kg/personne/an)':0, 'Exportations - Quantité':0, 'Importations - Quantité':0, 'Nourriture':0,'Pertes':0, 'Production':0, 'Semences':0, 'Traitement':0, 'Variation de stock':0, 'Disponibilité de matière grasse en quantité (g/personne/jour)':0, 'Disponibilité de protéines en quantité (g/personne/jour)':0}, inplace=True)
df_dispo_ali.head(3)

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53.0,0.0,0.0,53.0,0.0,53.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0

#### vérifier s'il y a des doublons (duplicate) - on considere doublon une ligne qui a les mêmes valeurs sur 2 colonnes differentes

In [153]:
df_dispo_ali.duplicated(subset=['Zone','Produit']).sum()

0

#### avoir une idée sur le statistiques descriptives des variables quantitatives

In [155]:
df_dispo_ali.describe()

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
count,15605.000000,15605.000000,15605.000000,15605.000000,15605.000000,15605.000000,15382.000000,15605.000000,15605.000000,15605.000000,15605.000000,15605.000000,15605.000000,15605.000000,15605.000000
mean,83.578661,55.432426,31.748927,7.830948,0.969754,0.906513,640.293460,86.649023,83.053701,312.480487,29.073887,641.440564,9.912272,141.280807,-6.690292
std,1779.289153,3013.629812,102.961194,23.478909,3.246695,3.143516,9067.267153,933.435208,700.099451,4242.854724,584.672236,9270.864198,194.897843,3992.567621,362.380787
min,0.000000,0.000000,-21.000000,-1.930000,-0.030000,-0.370000,-3430.000000,-41.000000,-201.000000,-246.000000,0.000000,0.000000,0.000000,-19.000000,-39863.000000
25%,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,3.000000,0.520000,0.020000,0.020000,7.000000,0.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,18.000000,4.270000,0.310000,0.350000,76.750000,4.000000,16.000000,40.000000,0.000000,42.000000,0.000000,0.000000,0.000000
max,150000.000000,347309.000000,1711.000000,430.760000,60.760000,54.970000,739267.000000,42797.000000,63381.000000,426850.000000,55047.000000,739267.000000,17060.000000,326711.000000,5284.000000

#### générer le fichier dispo_ali CSV traité

In [156]:
dispo_ali_nettoye="/Users/yathyarayamauchiferreira/Documents/OpenClassrooms/Projet 4/DAN-P4-FAO/dispo_alimentaire_nettoye.csv"
df_dispo_ali.to_csv(dispo_ali_nettoye, index=False)

### Fichier SOUS NUTRITION

#### Importation et lecture du fichier CSV

In [243]:
df_sous_nutri = pd.read_csv(sous_nutri)
df_sous_nutri.head(65)

           Zone      Année Valeur
0   Afghanistan  2012-2014    8.6
1   Afghanistan  2013-2015    8.8
2   Afghanistan  2014-2016    8.9
3   Afghanistan  2015-2017    9.7
4   Afghanistan  2016-2018   10.5
..          ...        ...    ...
60      Arménie  2012-2014   <0.1
61      Arménie  2013-2015   <0.1
62      Arménie  2014-2016   <0.1
63      Arménie  2015-2017   <0.1
64      Arménie  2016-2018   <0.1

[65 rows x 3 columns]

#### Vérifier le nombre de lignes

In [230]:
df_sous_nutri.shape

(1218, 3)

#### Vérification de type de colonne et des valeurs manquantes

In [231]:
df_sous_nutri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1218 non-null   object
 1   Année   1218 non-null   object
 2   Valeur  624 non-null    object
dtypes: object(3)
memory usage: 28.7+ KB

#### remplacer NaN par zéro sur la colonne Valeur

In [244]:
df_sous_nutri.fillna({'Valeur':0},inplace=True)
df_sous_nutri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1218 non-null   object
 1   Année   1218 non-null   object
 2   Valeur  1218 non-null   object
dtypes: object(3)
memory usage: 28.7+ KB

#### remplacer <0.1 (valeur non numérique) par le correspondent 0,05

In [245]:
df_sous_nutri['Valeur'].replace('<0.1','0.05',inplace=True)
df_sous_nutri.head(65)

           Zone      Année Valeur
0   Afghanistan  2012-2014    8.6
1   Afghanistan  2013-2015    8.8
2   Afghanistan  2014-2016    8.9
3   Afghanistan  2015-2017    9.7
4   Afghanistan  2016-2018   10.5
..          ...        ...    ...
60      Arménie  2012-2014   0.05
61      Arménie  2013-2015   0.05
62      Arménie  2014-2016   0.05
63      Arménie  2015-2017   0.05
64      Arménie  2016-2018   0.05

[65 rows x 3 columns]

#### revérification des types de colonnes et des valeurs manquantes après modifications

In [246]:
df_sous_nutri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1218 non-null   object
 1   Année   1218 non-null   object
 2   Valeur  1218 non-null   object
dtypes: object(3)
memory usage: 28.7+ KB

#### transformation de la colonne Valeur en float

In [247]:
df_sous_nutri.Valeur = pd.to_numeric(df_sous_nutri.Valeur, errors='coerce')
df_sous_nutri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1218 non-null   object
 1   Année   1218 non-null   object
 2   Valeur  1218 non-null   float64
dtypes: float64(1), object(2)
memory usage: 28.7+ KB

#### Utiliser la fonction .apply (lambda) pour garder uniquement la première année (les 4 premiers chiffres) de la liste de la colonne Année

In [248]:
df_sous_nutri['Année']=df_sous_nutri['Année'].apply(lambda x:int(x[:4])+1)
df_sous_nutri.head()

          Zone  Année  Valeur
0  Afghanistan   2013     8.6
1  Afghanistan   2014     8.8
2  Afghanistan   2015     8.9
3  Afghanistan   2016     9.7
4  Afghanistan   2017    10.5

#### revérification des types de colonnes et des valeurs manquantes après modifications

In [249]:
df_sous_nutri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1218 non-null   object
 1   Année   1218 non-null   int64
 2   Valeur  1218 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.7+ KB

#### vérifier s'il y a des doublons (duplicate) - on considere doublon une ligne qui a les mêmes valeurs sur 2 colonnes differentes

In [250]:
df_sous_nutri.duplicated(subset=['Zone','Année']).sum()

0

#### avoir une idée sur le statistiques descriptives des variables quantitatives

In [220]:
df_sous_nutri.describe()

             Année       Valeur
count  1218.000000  1218.000000
mean   2015.500000     2.619704
std       1.708527    14.147908
min    2013.000000     0.000000
25%    2014.000000     0.000000
50%    2015.500000     0.050000
75%    2017.000000     1.200000
max    2018.000000   203.800000

#### generer fichier sous_nutri CSV traité

In [251]:
sous_nutri_nettoye="/Users/yathyarayamauchiferreira/Documents/OpenClassrooms/Projet 4/DAN-P4-FAO/sous_nutrition_nettoye.csv"
df_sous_nutri.to_csv(sous_nutri_nettoye, index=False)

### Fichier POPULATION

#### Importation et lecture du fichier CSV

In [179]:
df_population = pd.read_csv(population)
df_population.head()

          Zone  Année     Valeur
0  Afghanistan   2013  32269.589
1  Afghanistan   2014  33370.794
2  Afghanistan   2015  34413.603
3  Afghanistan   2016  35383.032
4  Afghanistan   2017  36296.113

#### Vérifier le nombre de lignes

In [180]:
df_population.shape

(1416, 3)

#### Vérification de type de colonne et des valeurs manquantes

In [181]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416 entries, 0 to 1415
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1416 non-null   object
 1   Année   1416 non-null   int64
 2   Valeur  1416 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 33.3+ KB

#### vérifier s'il y a des doublons (duplicate) - une ligne qui contient la même années, le même produit et le même pays

In [183]:
df_population.duplicated(subset=['Zone','Année']).sum()

0

#### avoir une idée sur le statistiques descriptives des variables quantitatives

In [184]:
df_population.describe()

             Année        Valeur
count  1416.000000  1.416000e+03
mean   2015.500000  3.144793e+04
std       1.708428  1.300812e+05
min    2013.000000  7.930000e-01
25%    2014.000000  3.783410e+02
50%    2015.500000  5.126480e+03
75%    2017.000000  1.930666e+04
max    2018.000000  1.427648e+06

#### generer fichier aide_ali CSV traité

In [252]:
population_nettoye="/Users/yathyarayamauchiferreira/Documents/OpenClassrooms/Projet 4/DAN-P4-FAO/population_nettoye.csv"
df_population.to_csv(population_nettoye, index=False)

### Fichier LISTE CEREALES

In [259]:
df_liste_cereales = pd.read_csv(liste_cereales)
df_liste_cereales.head()

,Code Domaine,Domaine,Code zone (M49),Zone,Code Élément,Élément,Code Produit (CPC),Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5511,Production,S2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,I,Valeur imputée
1,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5611,Importations - Quantité,S2511,Blé et produits,2017,2017,Milliers de tonnes,3080.0,I,Valeur imputée
2,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5072,Variation de stock,S2511,Blé et produits,2017,2017,Milliers de tonnes,208.0,I,Valeur imputée
3,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5911,Exportations - Quantité,S2511,Blé et produits,2017,2017,Milliers de tonnes,2.0,I,Valeur imputée
4,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5301,Disponibilité intérieure,S2511,Blé et produits,2017,2017,Milliers de tonnes,7151.0,I,Valeur imputée

In [263]:
df_liste_cereales.drop_duplicates(subset=['Produit'])

,Code Domaine,Domaine,Code zone (M49),Zone,Code Élément,Élément,Code Produit (CPC),Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5511,Production,S2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,I,Valeur imputée
14,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5511,Production,S2807,Riz et produits,2017,2017,Milliers de tonnes,338.0,I,Valeur imputée
28,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5511,Production,S2513,Orge et produits,2017,2017,Milliers de tonnes,95.0,I,Valeur imputée
42,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5511,Production,S2514,Maïs et produits,2017,2017,Milliers de tonnes,174.0,I,Valeur imputée
57,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5611,Importations - Quantité,S2515,Seigle et produits,2017,2017,Milliers de tonnes,0.0,I,Valeur imputée
67,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5611,Importations - Quantité,S2516,Avoine,2017,2017,Milliers de tonnes,0.0,I,Valeur imputée
77,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5511,Production,S2517,Millet et produits,2017,2017,Milliers de tonnes,6.0,I,Valeur imputée
90,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5611,Importations - Quantité,S2518,Sorgho et produits,2017,2017,Milliers de tonnes,0.0,I,Valeur imputée
100,FBS,Bilans Alimentaires (2010-),4,Afghanistan,5611,Importations - Quantité,S2520,"Céréales, Autres",2017,2017,Milliers de tonnes,0.0,I,Valeur imputée